.container {
	width = 75vw;
}

h1 {
  font-size: 40px;
  padding: 30px;
  color: #d4412d;
}

.header {
  padding: 40px;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.603);

}

.hours {
  padding: 10px;
}

nav {
  text-align: center;
}

.nav-item {
  padding: 0px 120px 0px 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

p {
  font-size: 20px;
  padding: 0px;
}
